# Ignore code from the meta object compiler
*moc_*

# Ignore generate resource files
*qrc_*

# Ignore object files
*.o

# Ignore Apple files
*DS_Store

# Ignore Eclipse project files

*.project
*.cproject

# Ignore all of the compilation folders
compilation*

# Ignore the executables
mac_universal
linux_x86_64
win32

*._*

chemvp0.2.tgz
TODO.txt
