# Ignore code from the meta object compiler
*moc_*

# Ignore generate resource files
*qrc_*

# Ignore object files
*.o

# Ignore Apple files
*DS_Store

# Ignore Eclipse project files

*.project
*.cproject

compilation*
